@charset "utf-8";
/*** 文章页css ***/
.left{
	width: 86%;
	float: none;
	margin: auto;
	margin-top: 20px;
}
.clear{
	clear: both;
}
.more{
	width: 79%;
	margin-left: 18px;
	margin-top: 20px;
	border-radius: 8px;
	margin: 0 auto;
	margin-top: 10px;
}
.more p{
	text-align: center;
	height: 100%;
}
.more p a{
	color: white;
}
.more:hover{
	color: #ffffff;
	background-color: #d2322d;
	border-color: #ac2925;
	transition: all .25s ease-in-out;
	-webkit-transition: all .25s ease-in-out;
}
.footer{
	margin-top: 80px;
}


