<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>

    <context id="mysqlgenerator" targetRuntime="MyBatis3">

        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                        connectionURL="jdbc:mysql://localhost:3306/ssmredis"
                        userId="root"
                        password="muxi" />

        <javaModelGenerator targetPackage="com.nomico271.model" targetProject="src/main/java/com/muxi/redis/ssm/entity" />

        <sqlMapGenerator targetPackage="com.nomico271.mapper" targetProject="src/main/resources/mapper" />

        <javaClientGenerator type="XMLMAPPER" targetPackage="com.nomico271.mapper" targetProject="src/main/java/com/muxi/redis/ssm/dao" />

        <table tableName="wirteBlog"/>
        <table tableName="auther"/>

    </context>

</generatorConfiguration>